.text-center.row
  .col-md-10.col-md-offset-1
    = image_tag('logo76.png')
    %h3 Большой арабско-русский словарь
    %h4 выражает вам
    %h3 Большую Благодарность
    %p= link_to 'bars.dictionary@gmail.com', 'mailto:bars.dictionary@gmail.com'
