$color-bg: #f9f9f9;
$color-border: #d4d4d4;


body {
  padding-top: 90px;
}

.navbar-fixed-top2 {
  background-color: $color-bg;
  border: 1px solid $color-border;
  left: 0;
  margin-top: -35px;
  position: fixed;
  right: 0;
  top: 70px;
  width: 100%;

  > .nav {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 20px;

    > li > a {
      font-size: 24px;
      line-height: .8;
    }
  }
}

@media (max-width: 1300px) {
  .navbar-fixed-top2 {
    position: static;
  }
}
