%p
  Добрый день, #{@resource.email}!
%p Был получен запрос на смену вашего пароля. Вы можете сменить его, пройдя по ссылке:
%p= link_to 'Заменить мой пароль', edit_password_url(@resource, :reset_password_token => @token)
%p Если вы не запрашивали смену пароля пожалуйста проигнорируйте это письмо.
%p Ваш пароль не будет заменен, пока вы не пройдете по указанной ссылке и не укажите новый.