%p
  Добрый день, #{@resource.email}!
%p Ваш аккаунт был заблокирован из-за большого количества неуспешных попыток войти.
%p Пройдите по ссылке ниже, что бы разблокировать:
%p= link_to 'Разблокировать мой аккаунт', unlock_url(@resource, :unlock_token => @token)